# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment configuration files
.env

# Ignore build or compiled files
/dist/
/build/
/out/

# Ignore package-lock.json (useful when using package.json)
package-lock.json

# Ignore IDE or editor-specific files and directories
.vscode/
.idea/
